{% extends "facts/base.html" %}

{% block title %}Fun Fact Friday{% endblock %}

{% block body %}
  <div class="fact">
    <div class="title">
      Here's a fun fact ...
    </div>
    <div class="details">
      {{ fact.short_text }}
    </div>
    <details>
      <summary>Wait a second &hellip;</summary>
      {% if fact.ref_link %}
        <a href="{{ fact.ref_link }}">That ain't no fact!</a><br/>
      {% endif %}
      <a href="{% url 'fact' %}">That ain't fun!</a>
    </details>
  </div>
{% endblock %}